<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MediaFolder" value=""/>
		<add key="IntroPath" value=""/>

		<add key="FTPHostIP" value=""/>
		<add key="FTPUsername" value=""/>
		<add key="FTPPassword" value=""/>
		<add key="RemoteDirectory" value=""/>
		<add key="LocalDirectory" value=""/>
		<add key="ConnectionsRecurrences" value="5"/>
		<add key="ConnectionMillisecondsDelay" value="5000"/>
		
		<add key="LogFilesPath" value=""/>
	</appSettings>
</configuration>