<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MediaFolder" value="C:\Users\AntWo\Videos\AFTVideos"/>
		<add key="IntroPath" value="C:\Users\AntWo\Videos\CapsuleMediaIntro\CapsuleMediaVideoLogo.avi"/>
		<add key="LogFilesPath" value="D:\Logs"/>
	</appSettings>
</configuration>